/*

- Primary: #006d77
- Tints:  #cce2e4

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
/* ********************* 
HEADER
 ********************* */
.main-contact {
  display: flex;
  justify-content: center;
}
.main-navigation {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  width: 100%;
  padding: 0 4.6rem;

  /* margin: 0 3rem; */
}
.header {
  background-color: #cce2e4;
  /* height: 100rem; */
  /* height: 100vh; */
}
/* sticky nav */
.main-navigation.sticky {
  position: fixed;
  z-index: 999;
  background-color: #cce2e4c4;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.logo {
  height: 6rem;
}

.main-navigation-list {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.main-navigation-link {
  font-size: 2rem;
  font-weight: 600;
}

.main {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* gap: 9.6rem; */
  padding: 5rem 3.2rem;
}

.me-photo {
  width: 80%;
  border-radius: 50%;
}
.main-text {
  display: flex;
  justify-content: flex-end;
}
.quote {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.05;
  width: 80%;
}
/* .main-contact {
   display: flex;
  flex-direction: column; 
}  */
.contacts {
  font-size: 1.8rem;
  line-height: 1.2;
  justify-items: end;
}
.main-link:link,
.main-link:visited {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.main-link:hover,
.main-link:active {
  color: #333;
}
.coloboration-box {
  text-align: center;
  padding: 5rem 0 3.2rem;
  /* padding: 5rem 0; */
}
.coloboration-content {
  font-size: 3rem;
  padding: 3rem 0;
}
.logos-img {
  height: 3rem;
  padding: 0 2rem;
}
/* /////////////
Mobile
///////////////*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #555;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* /////////////
Experience
///////////////*/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.experience {
  padding: 8rem 0 3.2rem;
}
.subheading {
  display: block;
  font-size: 2.2rem;
  padding: 4rem 0 0;
}
.heading-secondary {
  font-size: 3.2rem;
  padding: 4rem 0;
  line-height: 1.2;
}
.step-number {
  font-size: 7.4rem;
  font-weight: 600;
  color: rgba(99, 87, 87, 0.226);
  margin-bottom: 1.2rem;
}
.company {
  font-size: 2.4rem;
  padding: 2rem 0 1rem 0;
}
.possition {
  font-size: 1.9rem;
  padding: 1.5rem 0;
}
.list {
  font-size: 1.6rem;
  line-height: 1.1;
}
.list li p {
  line-height: 1.2;
}
.date {
  font-size: 4.8rem;
  justify-self: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.job {
  background-color: #cce2e4;
  padding: 3rem;
}
.job li {
  list-style: none;
  margin-bottom: 0.8rem;
}
.job li p:before {
  content: "\2014";
}
.date-mobile {
  display: none;
}

/* ////////////////// */
/* Education */
/* ///////////////// */

.education {
  padding: 8rem 0;
  background-color: #cce2e4;
}
.school-icon {
  height: 2rem;
  width: 2rem;
}
.level-box {
  position: relative;
  display: flex;
  align-items: center;
}
.school-icon {
  /* left: 100%; */
  position: absolute;
  left: -10%;
}
.slider {
  height: 20rem;
  max-width: 100rem;
  position: relative;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 17rem;
  width: 90%;
}
.level {
  font-size: 2.4rem;
  line-height: 2;
}
.school {
  font-size: 2rem;
  line-height: 2;
}
.field {
  font-size: 1.8rem;
  line-height: 2;
}
.year {
  font-size: 1.8rem;
  line-height: 2;
}
.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 1rem;
  width: 1rem;
  background-color: #d81212;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);

  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider-btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider-btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
/* ////////////////
skills
/////////////////// */
.skills {
  padding: 8rem 0;
}
.skills-icon {
  height: 10rem;
  width: 10rem;
  padding: 0 2rem;
}
.skills-box {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
.skills-furure {
  font-size: 2.4rem;
}
.footer {
  background-color: #cce2e4;
  padding: 8rem 0;
  position: relative;
}
.copyright {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.4rem;
}
.flex-link {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.flex-footer {
  display: flex;
  gap: 4rem;
}
.footer-icon {
  height: 3rem;
  width: 3rem;
}
.linkedin {
  color: inherit;
  text-decoration: none;
}
